*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #e5edff;
    font-family: 'Manrope', sans-serif;
    
}
body{
    padding: 0px 50px;
    font-size: 20px;
    background-color: #005249;
   
}
.home__page{
    display: flex;
    height: 100vh;
}
.logo{
    padding-top: 30px;
    color: #5be584;
    text-decoration: none;
}


.head__section{
    display: flex;
    justify-content: space-between;

}
.nav__section{
   display: flex;
   list-style: none;
   align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.nav__item{
    padding: 25px;
    cursor: pointer;
}
.nav__link:hover:not(:last-child){
    text-decoration:underline #e5edff;

}
.introduction{
    padding-top: 50px;
    height: 85vh;
    width: 50vw;
}
.introduction h1{
    font-size: 50px;
    letter-spacing: 0.1em;
}
.introduction h3{
    font-size: 30px;
}
.myself{
    padding-top: 15px;
    padding-right: 30%;
}

.social__media__icons{
    width: fit-content;
    height: 50px;
    margin-top: 20px;
    display: flex;
}
.socials{
    width: 30px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 35%;
    filter: invert(99%) sepia(35%) saturate(2706%) hue-rotate(60deg) brightness(92%) contrast(94%);
    }
      
.linkedin{
    margin-left: 0px;
}
.resume{
margin-top: 20px;
background-color:#53cd77;
border: none;
height: auto;
width: 180px;
padding: 10px;
font-size: 18px;
font-weight: 500;
border-radius: 5px;
cursor: pointer;
}

.my__image{
    width: 30vw;
    height: 60vh;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 40px;
    background: url("./images/Snapchat-547269414.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}



.about{
    width: auto;
    height: 100vh;
    padding-right: 50%;

}
.about h1{
    margin-bottom: 20px;
}
 .portfolio{
    border: 1px solid brown;
    width: auto;
    height: 100vh;
 }

 .contact{
    border: 1px solid purple;
    width: auto;
    height: 100vh;

 }