*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #e5edff;
    font-family: 'Manrope', sans-serif;
    
}
body{
    padding: 0px 50px;
    font-size: 20px;
    background-color: #005249;
   
}
.logo{
    padding-top: 30px;
    color: #5be584;
    text-decoration: none;
}


.head__section{
    display: flex;
    justify-content: space-between;

}
.nav__section{
   display: flex;
   list-style: none;
   align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.nav__item{
    padding: 25px;
    cursor: pointer;
}
.nav__link:hover:not(:last-child){
    text-decoration:underline #e5edff;

}
.introduction{
    padding-top: 50px;
}
.introduction h1{
    font-size: 50px;
    letter-spacing: 0.1em;
}
.introduction h3{
    font-size: 30px;
}
.myself{
    padding-top: 15px;
    padding-right: 50%;
}